@charset "UTF-8";
/* CSS Document */
.yellow{
  background-color:yellow;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.more {
   /*margin-top : 10px;*/
   height: 35px;
   width: 35px;
   border-radius: 8px;
   background-image:url('https://image.flaticon.com/icons/svg/3/3907.svg');
   align-items: flex-start;
}
.foradd {
   height: 35px;
   width: 35px;
   border-radius: 8px;
   background-image:url('https://image.flaticon.com/icons/svg/149/149171.svg');
   align-items: flex-start;
   color : blue;
}

.hashb {
    background-color: white;
    color: black;
    border: 1px solid lightgray; /* Green */
    border-radius: 5px;
}

.clearb {
    background-color: white;
    color: black;
    border: 1px solid lightgray; /* Green */
    border-radius: 5px;
    font-size:10px;
}

.bar-search .searchbar{
   width: 93%;
}

.bar-search .searchbutton{
   width: 5%;
}
.box{
   margin-top : 50px;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
}
.navbar-brand-centered h3{margin:0;margin-left: -30px;margin-top:-2px}
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
.a {
   margin-top : -8px;
}
.foods{
   margin-top : 100px;
   margin-bottom : 50px;
}
.make-margin{
   margin-left : 210px;
}

   .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
